* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #262628;
    color: whitesmoke;
    font-size: 3rem;
 
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.styled-image {
    width: 50%; /* Adjust the size as needed */
    opacity: 0.8; /* Adjust the opacity as needed */
    max-width: 100%; /* Ensure the image doesn't overflow the container */
    height: auto; /* Maintain the aspect ratio */
}

nav {
    padding: 1rem;
    background-color: rgb(243, 64, 36);
    color: white;
    font-size: 2.5rem;
}


main {
    padding: 1rem;
}

section {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

h1,
h2 {
    font-size: 2.5rem;
}

about-content, p {
    color: #FFF;
  
    text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

post-page, h1 {
    color: #ffffff;
}

navigation-bar, h1 {
    color: rgba(255,255,255,.3);
    
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #ea4646;
}

a:hover {
    opacity: .85;
}

.banner {
    display: block;
    width: 100%;
    max-width: 800px;
}

.form-with-validation {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.form-with-validation div {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.form-with-validation input {
    padding: 0.25rem;
    max-width: 300px;
}

.form-submit {
    padding: 0.5rem;
    border-radius: 10px;
    width: 125px;
}

.helptext {
    font-size: 1rem;
    margin-left: 1rem;
}

.helptext ul {
    list-style-type: none;
}

.errorlist {
    color: #F00;
    margin-left: 2rem;
}

.errorlist li::marker {
    content: '🚨 ';
}


.logout {
    display: inline;
}

.logout-button {
    font-size: 2.5rem;
    background-color: #1F2833;
    border: none;
}

.logout-button:hover {
    opacity: .85;
}