{% extends 'layout.html' %}

{% block title %}
    User Login
{% endblock %}

{% block content %}
    <h2>User Login</h2>
    <form 
        class="form-with-validation"
        action="/users/login/" 
        method="post">
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
            <button class="form-submit">Login</button>
    </form>
{% endblock  %}
