{% extends 'layout.html' %}

{% block title %}
    User Register
{% endblock %}

{% block content %}
    <h2>Register a new Users</h2>
    <form 
        class="form-with-validation"
        action="/users/register/" 
        method="post">
             #csrf untuk keamanan, agar no one pretending to be me while submit by django
            {% csrf_token %}
            {{ form }}
            <button class="form-submit">Submit</button>


    </form>
{% endblock  %}
