{% extends 'layout.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="about-content">
        <h1>About</h1>
        
    
    <h2>Dema </h2>
    <p>The perplexities of the Dema horizon didn't occur to me until my ninth year. It was then that I began to contemplate the existential, and decide what type of impression I wanted my life to make. Naturally, to fuel my hope, I looked out upon the distance of the land that had cultivated me, only this time with a new awareness of the obstruction that my youthful ignorance had allowed me to overlook. Was it there the whole time? How had I not seen something so obvious? I am reminded of the moment daily, as the idealization directly collides with a unique hope for my own future. As a child, I looked upon Dema with wonder, today, I am wrought with frustration, as I spend each day squinting for a glimpse of the top of the looming wall that has kept us here. It was upon my ninth year that I learned that Dema wasn’t my home. This village, after all of this time, was my trap.

        Before I became realized, I had deep affection for Dema. There was a wonderful structure to the city that put my cares to rest. Streets and locations were dependable, and the responsibilities of the day seemed to be accomplished with minimal effort. Once a task was taught and understood, we delighted in our ability to complete our obligations timely, and felt secure in knowing tomorrow’s duties would be accomplished with the same efficiency. We all worked to represent our bishop with honor, and knew that each inhabitant of our region had a like-minded dedication to consistency.
        
        Keons embodied the spirit of this dedication. Of Dema’s nine bishops, Keons was revered as unwavering and forthright, possessing the ability to achieve focus that was rare for most on our region. We all admired him, and felt honored to be inhabitants his region. While we had heard legend of the ruthlessness of other bishops, Keons possessed a stoic demeanor unlike anyone I had ever met, and we were all proud to serve.
        
        - Clancy</p>
{% endblock  %}

