{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <h1>Check out my  <a href="/about">About</a> page!</h1>
{% endblock  %}

#iseng aja ini mah ngetest doang