<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}
        Django App
        {% endblock %}
    </title>

    <script src="{% static 'js/main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>
<body>
    <nav class="navigation-bar">
       
        <h1>CliqueOrg.info</h1>
        <a href="/">
            <span role="img" aria-label="Home" title="Home">🏠</span>
        </a> |
        <a href="/about" title="About">💬</a> |
        <a href="{% url 'posts:list' %}" title="Posts">📰</a> |
        
        {% if user.is_authenticated %}
            <a href="{% url 'posts:new-post'%}" title="New Post">🆕</a> |
            
            <form class="logout" action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button class="logout-button" title="Logout">😊</button>
            </form>
        {% else %}
            <a href="{% url 'users:register' %}" title="Register">✏️</a> |
            <a href="{% url 'users:login' %}" title="Login">🔑</a> |
        {% endif %}
        
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>