{% extends 'layout.html' %}

{% block title %}
    New Post
{% endblock %}

{% block content %}
    <section>
        <h1> New Post! </h1>
        <form
            class="form-with-validation" 
            action="{% url 'posts:new-post' %}" 
            method="post"
            enctype="multipart/form-data"> <!--biar ada gambar juga ga cuma form biasa-->
                {% csrf_token %}
                {{ form }}
                <button class="form-submit"> Add Post </button>
        </form>
    </section> 
{% endblock  %}
