{% extends 'layout.html' %}

{% block title %}
{{ post.title }} 
{% endblock %}

{% block content %}
    <section class="post-page">

        <img 
        class="banner"
        src="{{ post.banner.url }}"
        alt="{{ post.title }}"
        />

        <h1> {{ post.title }} </h1>
        <p>{{ post.date|timesince  }} ago</p>
        <p>{{ post.body|linebreaks|urlize }}</p>   
        <p><b> Word Count: {{ post.body|wordcount}}</b></p>
    </section> 
{% endblock  %}
# Gue pake template buat ngerapiin article seperti timesince,linebreaks dll
#https://dev.to/vijaysoni007/my-favorite-django-template-filters-2nen