{% extends 'layout.html' %}

{% block title %}
    Posts 
{% endblock %}

{% block content %}
<section>
    <h1>Posts</h1>

    {% for post in posts %}
        <article class="post">
            <h2>
                <a href="{% url 'posts:page' slug=post.slug %}">
                {{ post.title|title }} 
                </a>
            </h2>
            <p>{{ post.date|timesince  }} ago by {{ post.author }}</p>
            <p>{{ post.body|truncatewords:10}}</p>   
            
        </article>
    {% endfor %}

</section> 
{% endblock  %}
# Gue pake template buat ngerapiin article seperti timesince,linebreaks dll
#ttps://dev.to/vijaysoni007/my-favorite-django-template-filters-2nen